.page-header {
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    padding: 2.4rem 1.8rem;
    background-color: var(--white-1);
    display: flex;
    justify-content: space-between;

    .logo {
        img {
            width: 7rem;
        }
    }

    button {
        padding: 0 0.2rem;

        span {
            font-size: 1.2rem;
        }
    }

    .list-router-page {
        flex: 1;
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2.8rem;

        a {
            font-size: 1.2rem;
            display: block;
            padding: 0.4rem;
            color: var(--black);
            text-decoration: none;
            font-weight: 500;
            border-radius: 0.4rem;

            &:hover {
                background-color: var(--light-red);
                color: var(--white-1);
            }

            .icon-header {
                width: 2rem;
                display: none;
            }

            &.active {
                background-color: var(--light-red);
                color: var(--white-1);

                .icon-header {
                    fill: var(--white-1);

                    path {
                        stroke: var(--white-1) !important;
                        fill: var(--white-1) !important;
                    }
                }
            }

        }
    }
}