.container-account {
    form {
        margin: auto;

        .btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 0.6rem;
        }
    }
}